@import '../partials/colors';
@import '../partials/typography';
@import '../partials/mixins';

.about {
    &__hero {
        background-color: $secondary-pink;
        padding: 2rem;
        text-align: center;

        h1 {
            font-family: $font-title;
            font-size: 2.5rem;
            color: $dark-color;
        }
    }
    &__content{
       padding: 2rem;
       display: flex;
       flex-wrap: wrap;
       gap: 2rem;
       align-items: center;
       max-width: 1450px;
       margin: 0 auto;       

       @media (max-width: 908px) {
            flex-direction: column;
        }
    }

    &__text {
        flex: 1 1 500px;
       h2{
        font-family: $font-title;
        color: $dark-color;
        margin-bottom: 1rem;
       }
       p{
        margin-bottom: 1rem;
       }

    }

    &__image {
        width: 48%;

        @media (max-width: 1088px) {
            width: 37%;
        }

        @media (max-width: 908px) {
            width: 74vw;
        }

        img{
            border-radius: 15px;
        }
    }
}